body {
	transition: transform .1s linear;
	position: relative;

}



canvas {
  height: 100%!important;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%!important;
  opacity: 0.8;
}
menu {
	padding: 0;
	margin: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}


.svg__logo {
	width: 140px;
	height: auto;
}



.bt-orange {
	border-top: 5px solid orange;
}
.bb-orange {
	border-bottom: 5px solid orange;
}

.nav-item{
	position: relative;
}

a.hover_bottom_color::after {
	position: absolute;
	content: '';
	bottom: 10px;
	left: 10%;
	height: 1px;
	width: 0px;
	background: orange;
	transition: all .5s ease;
}
.nav-item:hover a.hover_bottom_color::after {
	width: 80%;
}

a.is_active::after{
	position: absolute;
	content: '';
	bottom: 10px;
	left: 10%;
	height: 1px;
	width: 80%;
	background: orange;
}

.main__item a:before {
	content: '';
	position: absolute;
	background: rgba(0,0,0,.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all .3s ease;
}
.main__item:hover a:before {
		background: rgba(0,0,0,.1);
}


.navbar-brand img {
	width: 160px;
}
.main__item_text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 900;
    color: #f8f9fa;
    padding: 0 10px;
    text-shadow: 3px 3px 5px #333;
    transition: all .5s ease;
    z-index: 2;
}

.main__item:hover .main__item_hover-hi{
	  top: 15%;
    left: 25%;
    font-size: 30px;
}

.main__item:hover .main__item_hover{
	  top: 15%;
    left: 20%;
    font-size: 30px;
}

.main__item:hover .main__item_hover-low{
	  top: 5%;
    left: 5%;
    font-size: 24px;
}




.top-line__phone {
	font-size: 26px;
	color: #fff;
	line-height: .7;
	text-align: center;
}
.top-line__phone span {
	font-size: 14px;
}

.offer-today {
  position: absolute;
  top: -4px;
  right: -2px;
  z-index: 3;

}
.offer-today img {
	width: 100px;
}

.countdownBox {
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  z-index: 2;

}

.textLabel {
  background: #f6961e;
  color: #fff;
  font-size: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;

}


#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 12px;

}

#clockdiv div{
	padding: 2px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div span{
	padding: 5px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.carousel-item a:before {
	content: '';
  position: absolute;
  background: rgba(0,0,0,.2);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all .3s ease;
}
.carousel-item:hover a:before {
	  background: rgba(0,0,0,.1);
}

.carousel-item-title {
	position: absolute;
	bottom: 34px;
	color: #fff;
	line-height: 1;
	background: rgba(255,165,0, .9);
	text-align: center;
	padding: 2px;
	width: 100%;
}
.sales {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 5;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
}

.old-price {
	background: red;
	width: 100%;
	text-align: center;
	padding: 5px;
	text-decoration: line-through;
}

.new-price {
	background: #00816A;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.advantages {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	 -moz-flex-direction: column;
	 -ms-flex-direction: column;
	 -o-flex-direction: column;
	 flex-direction: column;
	 justify-content: space-between;
}
.advantages-group {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 370px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
}
.advantages-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: start;
	background: #00816a;
	height: 100%;

}
.advantages-item a{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: start;
	text-decoration: underline;
	text-decoration-color: #fff;

}




.advantages-item-text {
	font-size: 20px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

.bb40 {
	border-bottom: 40px solid #e8e8e8;
}

.fotogalery-head {
  top: 20px;
  left: 110px;
  font-size: 45px;
}

.bg-l {
	background: #13a98e;
}
.bg-dl{
	background: #0e967e;
}
.opa {
	transition: all .3s ease;
}
.opa:hover {
	opacity: .95;
}

.main-text h1{
  background: orange;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 20px 0;
  font-size: 27px;
}


.basic-content {
	padding-top: 30px;

}
.basic-content img {
	float: right;
	max-width: 350px;
	padding-left: 20px;
}

.basic-content h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 5px;
	font-weight: bold;
}

.basic-content a {
	color: #ea6c18;
	text-decoration: underline;
	transition: all .3s ease;
}

.basic-content a:hover {
	text-decoration: none;
	color: orange;
}
.writing {
	margin-bottom: 40px;

}

.writing h3 {
	position: relative;
	transition: all .5s ease;
}
.writing h3::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	height: 2px;
	width: 0px;
	background: orange;
	transition: all .5s ease;
}
.writing:hover h3::after {
	width: 100%;
}

.writing-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: start;
	align-items: start;
	justify-content: start;
	margin-bottom: 30px;
}
.writing-item:last-child {
	margin-bottom: 15px;
}
.writing-item img {
	width: 130px;
	margin-right: 10px;
}

.writing-item-text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: start;
	-ms-align-items: start;
	align-items: start;
}

.writing-item-text a {
	line-height: 1;
	color: rgba(0,0,0,.8);
	    max-height: 65px;
    overflow: hidden;
}

.writing-item .date {
	font-size: 15px;
	color: #ea6c18;
    font-weight: 700;
}

.writing-more {
	text-align: right;
}
.writing-more a {
	color: #ea6c18;
	text-decoration: underline;
	transition: all .3s ease;
}
.writing-more a:hover {
	text-decoration: none;
	color: orange;
}

.footer-requisites {
	font-size: 10px;
	text-align: center;
		color: #fff;
}

.info-oferts {
	font-size: 8px;
	text-align: center;
	color: #fff;
}


.bg-grey {
	background: #eee;
}
footer {
	min-height: 80px;
	background: #333;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    background-color: #fdca7d;
}

.backCall {
    position: fixed;
    top: 55%;
    left: 80px;
    margin-top: -50px;
    z-index: 2000;
}

.backCall form {
    background: #3f8df9;
    border: 1px solid #fff;
    padding: 5px 20px;
    color: #fff;
    display: block;
    font-size: 12px;
    border-radius: 10px;
}

.backCall .form {
    display: flex;
    flex-direction: column;
}

.backCall .form-title {
    font-family: 'gothic', sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 10px;
}

.backCall .form input {
    border-radius: 5px;
    border: none;
    line-height: 25px;
}

.backCall .btn-close {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 18px;
    cursor: pointer;
    transition: all .5s ease;
}

.backCall .btn {
    background: #4CAF50;
    padding: 5px 0;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-shadow: 1px 1px 2px black;
    box-shadow: 1px 1px 2px black;
    transition: all .5s ease;
    margin: 10px 0 5px;
    cursor: pointer;
    text-align: center;
}

.top-email {
	font-size: 16px;
	color: #ffa500;
	text-decoration: underline;
}

.top-email:hover {
	color: #ffa500;
	text-decoration: none;
}

.bcClicker {
  cursor: pointer;
  width: 80px;
  opacity: .75;
  transition: opacity ease 0.5s;
  position: fixed;
  top: 50%;
  left: -20px;
  z-index: 2000;
      border: 1px solid #fff;
        transition: all .5s ease;
}

.mailClicker {
  cursor: pointer;
  width: 80px;
  opacity:.75;
  transition: opacity ease 0.5s;
  position: fixed;
  top: 40%;
  left: -20px;
  z-index: 2000;
  border: 1px solid #fff;
  transition: all .5s ease;

}

.mailClicker:hover, .bcClicker:hover {
	left: 0;
	opacity: 1;
}
.backCall-img, .mailAs-img {
	max-width: 100%;
}

.button-call-us {
	display: none;
}

.backCall {
	display: none;
}





@media only screen and (min-width: 0px) and (max-width: 768px) {

	.fotogalery-head {
	    top: 20px;
	    left: 18%;
	    font-size: 30px;
	}
	.p0 {
			padding: 0;
	}
	.tac {
		text-align: center;
	}

	.form-inline {
    justify-content: center;
  }

  .nav-item {
  	font-size: 18px;
  }

  .dropdown-item {
  	font-size: 18px;	
  }

  .mailClicker, .bcClicker{
	display: none;
	}


}

@media only screen and (min-width: 0px) and (max-width: 480px) {
	.button-call-us {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding: 13px 0;
    border: none;
    color: #fff;
    font-size: 18px;
    background: orange;
	}
}